html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*------------------------------*/



body {
	font-family: 'Josefin Sans', sans-serif;;
	background-color: #0a1207;
	background-image: url(ma.png);
	background-repeat: repeat;
	background-size: cover;
	width: 100%;
	border: 10px;
	border-color: red;
	
}

html,body {
	height: 100vh;
	width: 100%;
}

.page-wrapper {
	display: flex;
	height: 100%;
	width: 100%;
	flex-direction: column;
	justify-content: stretch;
	object-fit: contain;
	overflow-x: hidden;
                overflow-y: scroll;
                text-align:justify;

}

header {
	z-index: 1000;
	position: fixed;
	width: 100%;
	height: 30px;
}

.bottom {
	z-index: 1000;
	position: fixed;
	width: 100%;
	height: 3vh;
	bottom: 12px;
}

article {
	display: flex;
	height: 100%;
	width: 100%;
	
}

.box {
	width: 100%;

	
	
}

.info {
		z-index: 5;
		margin: 30px;
		

}



.grid2 {
	margin: 30px;
	z-index: -1;
	position: relative;
	height: 100vh;
	width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}



#date {
width: 100%;

}

#diy {
max-width: 90%;
}

.otsikko {
	flex: 3;

}

.alaotsikko {
flex: 2;
margin-bottom: 5vh;
margin-right: 3vw;
}

@media only screen and (max-width: 1000px) {
  .alaotsikko {
    align-items: all;
  }
}

@media only screen and (max-width: 1000px) {
  .grid2 {
    flex-direction: column;
  }
}

@media only screen and (max-width: 1000px) {
  #diy {
  	width: 100vw;
    height: 60vh;
  }
}

@media only screen and (max-width: 1000px) {
  #date {
    width: 60%;

  }
}

h1 {
	background-image: url(foil.jpeg);
	background-size: cover;
 -webkit-text-fill-color: transparent;
 -webkit-background-clip: text;
 -moz-background-clip:text;
 background-clip:text; 
 text-align:left;
 -webkit-text-stroke: 5px whitesmoke;
 }

 h5 {
	color: #fa0d1b;

	text-align: left;
}

 @media only screen and (max-width: 1000px) {
  h1, h5 {
    font-size: 17vw;
  }
}
	
@media only screen and (min-width: 1000px) {
  h1, h5 {
    font-size: 20vh;
  }
}

h2 {
	color: #fa0d1b;
	font-size: 10vh;
		font-weight: bold;
}

h3 {
	text-align: right;
	color: #fb6ac9;
	font-weight: bold;
	font-size: 5Vw;
}







#party {
	width: 100%;
}

#dream {
	font-size: 3vh;
	color: #f1f1f1;
	margin: 4vw;
	background-color: rgba(36, 36, 36, 0.5);
	
		
	
}

#poster {
	font-size: 3vh;
	color: #1dbe61;
	margin: 4vw;
	background-color: rgba(36, 36, 36, 0.5);
}

h6 {
	text-align: left;
	font-size: 4vh;
}

.tickets {
	position: relative;
	width: 550px;
	height: 180px;
	color:  #fa0d1b;
	font-size: 70px;
	margin: auto;
	text-align: center;
	font-family: monospace;
	font-weight: bold;
}

.lippu {
	width: 100%;
	height: 100%;
}

#tickets {
	position: absolute;
	right: 30px;
	top: 10px;
}

.br {
	height: 6vh;
	width: 100%;
}
/*--------raketti*/

.logo {
	height: 200px;
	width: 200px;
	pointer-events: none;
	opacity: 100%;
}

.raketti {
	position: relative;
	height: 600px;
	width: 600px;
	pointer-events: none;
}

.rocket {
z-index: 1;
 position: fixed;
 pointer-events: none;
  width: 600px;
  height: 600px;
  margin: auto;
  animation-name: spin;
  animation-duration: 9500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

.aurinko {
z-index: -1;
 position: fixed;
 pointer-events: none;
  width: 500px;
  height: 500px;
  margin: auto;
  animation-name: spin;
  animation-duration: 9500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.kuu {
	z-index: -1000;
	opacity: 40%;
    position: fixed;
    top: 50%;
    left: 30%;
    margin-top: -50px;
    margin-left: -50px;
    width: 750px;
    height: 750px;
    background-image: url(kuu.png);
    background-repeat: no-repeat;
    background-size: contain;
    animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

.end {
	position: relative;
  text-align: center;
  font-size: 5vw;
  font-weight: bold;
  font-family: 'futura', 'sans-serif;';

}

.bottom-right {
	color: #faf768;
  position: absolute;
  bottom:5px;
  right: 0;
  margin-bottom: 4vh;
}

.bottom-left {
	color: #5d70fb;
  position: absolute;
  bottom:5px;
  left: 0;
   margin-bottom: 4vh;
}

#bottom-center {
	color: #5d70fb;
  position: absolute;
  bottom:5px;
  left: 37%;
  right: 40%;
  height: 5vw;
   margin-bottom: 4vh;
}



a {
	  text-decoration: none;
} 

a:hover {
  color: hotpink;
}

a:visited {
  color: inherit;
}

/*-------header-----*/


#scroll-container {
	height: 3vh;
	background-color: #f1f1f1;
  border: 6px solid red;
  border-right: 0;
  border-left: 0;
  
}

#scroll-text {
	font-size: 6vh;
	color: #fa0d1b;
  text-align: right;

  /* animation properties */
  -moz-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  
  -moz-animation: my-animation 15s linear infinite;
  -webkit-animation: my-animation 15s linear infinite;
  animation: my-animation 15s linear infinite;
}

#scroll-text2 {
	margin-top: 0.5%;
	font-size: 3vh;
	color: #fa0d1b;
white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: marquee 20s linear infinite;  

}

#scroll-text2  p {
	font-size: 3vh;
  display: inline-block;
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}



